@media(max-width: 1023px) {
    .main-header {
        width: 768px;
        height: 123px;
    }

    .main-nav__item a {
        font-size: 15px;
    }

    .logo img {
        height: 54px;
    }


    /* main section */

    .main-section {
        width: 768px;
        padding: 0 20px;
        height: 393px;
    }

    .main-section__header h1 {
        font-size: 36px;
        line-height: 49px;
        width: 362px;
        margin: 70px 0 24px 0;

    }

    .main-section__header .vector {
        width: 172px;
        height: 14px;
        top: 101px;
    }

    .main-section__header p {
        width: 361px;
        height: 88px;
        font-size: 15px;
        line-height: 21.91px;
    }

    .main-section__image {
        height: 390.7px;
        right: 24.17px;
    }

    .star1 {
        width: 35px;
        top: 343px;
        left: 31px;
    }

    .star2 {
        width: 35px;
        top: 0px;
        left: 389px;
    }


    .ellipse1 {
        width: 14px;
        top: 9px;
        left: 24px;
    }

    .ellipse2 {
        width: 11px;
        top: 341px;
        left: 389px;
    }

    .ellipse3 {
        width: 8px;
        top: 376px;
        right: 37px;
    }




    /* to help */

    .to-help {
        min-width: 768px;
        margin-bottom: 60px;
    }

    .to-help__title {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .to-help__header img {
        width: 146px;
        height: 15px;
        right: -16px;
        bottom: 52px;
    }


    .to-help__items {
        width: 768px;
        padding: 0 20px;
    }


    .to-help__item {
        width: 229px;
        height: 260px;
        padding: 30px 27.5px;
    }


    .to-help__icon {
        width: 92px;
        height: 92px;
        padding: 20px;
    }

    .to-help__item:nth-child(1) .to-help__icon img {
        width: 50px;
    }

    .to-help__item:nth-child(2) .to-help__icon img {
        width: 43px;
    }

    .to-help__item:nth-child(3) .to-help__icon img {
        width: 46px;
    }

    .to-help__item h3 {
        margin: 16px 0 10px 0;
        font-size: 16px;
    }

    .to-help__item p {
        font-size: 11px;
        line-height: 15px;
        width: 185px;
    }


    .to-help__item:last-child p {
        font-size: 11px;
        line-height: 15px;
        width: 203px;
    }





    /* article */

    .articles {
        padding: 60px 20px;
        width: 768px;
    }

    .articles-header h2 {
        font-size: 36px;
    }

    .articles-header img {
        width: 144px;
        height: 14px;
        bottom: 2px;
    }

    .articles-last {
        flex-direction: column;
    }

    /* для фото из бд */
    .articles-last img {
        width: 728px;
        height: 342px;
    }

    .articles-title a {
        font-size: 27px;
        line-height: 40.12px;
        margin: 24px 0;
        margin-bottom: 48px;
    }


    .articles-last__description {
        margin: 0;
        position: relative;
    }

    .articles-last .articles-date {
        position: absolute;
        bottom: 0;
    }

    .articles-last .articles-hashtag {
        position: absolute;
        right: 0;
        bottom: 0;
    }


    .articles-items {
        display: flex;
        flex-direction: column;
    }

    .articles-item {
        width: 695px;
    }

    .articles-item img {
        width: 695px;
        height: 328px;
    }


    .articles-item .articles-date,
    .articles-item .articles-hashtag {
        display: none;
    }



    .articles-items .articles-title a {
        font-size: 24px;
        line-height: 35.66px;
    }



    .articles-anons {
        font-size: 18px;
        line-height: 25px;
    }



    .articles-last .articles-logo {
        left: 20px;
        top: 20px;
    }


    .more-articles {
        padding: 14px 133.5px;
    }


    /* dashbord */


    .dashboard {
        padding: 60px 20px;
        width: 768px;
    }

    .dashboard-header h2 {
        font-size: 36px;
    }

    .dashboard-header img {
        width: 196px;
        height: 23px;
        bottom: -8px;
    }


    .dashboard-items {
        /* overflow: visible; */
    }


    .dashboard-item {
        width: 695px;
        position: relative;
        margin-right: 20px;
    }

    .dashboard-item img {
        width: 695px;
        height: 328px;
    }





    .dashboard-anons {
        font-size: 18px;
        line-height: 24.59px;
    }


    .dashboard-date,
    .dashboard-hashtag {
        display: none;
    }

    .dashboard-title a {
        font-size: 24px;
        line-height: 35.66px;
        margin: 24px 0;
        margin-bottom: 16px;
    }



    /* parners */

    .partners {
        padding: 85px 20px;
        width: 768px;
    }

    .partners-header h2 {
        font-size: 36px;
    }

    .partners-header img {
        width: 196px;
        height: 23px;
    }


    .partners-items {
        padding: 79px 0 0 0;
    }


    .partners-item {
        padding: 0;
    }

    .partners-item p {
        font-size: 12px;
        line-height: 16.39px;
        margin-top: 32px;
    }

    .partners-item a {
        width: 174px;
        padding: 0 2px;
    }

    .partners-logo {
        height: 90px;
    }

    .partners-logo img {
        width: 95px;
    }

    /* footer */

    footer {
        min-width: 768px;
    }

    .footer {
        padding: 120px 20px 105px 20px;
        width: 768px;
    }

    .footer-logos {
        width: 206px;
        height: 49px;
    }


    .footer-logos .logo-informatio {
        width: 49px;
    }

    .footer-logos .logo-fond {
        width: 124px;
    }

    .footer-logos p {
        font-size: 15px;
    }

    .footer-nav a{
        font-size: 15px;
        line-height: 20px;
    }

    .contacts li:first-child{
        font-size: 15px;
    }

    .contacts a{
        font-size: 15px;
    }

    
    .address{
        width: 153px;
    }
    
    .address h4{
        font-size: 15px;
        line-height: 20px;
    }
    
    .address p{
        font-size: 15px;
        line-height: 20px;
    }


    footer .sign {
        padding: 32px 20px;
    }
}