.about-us a{
    color: #14BEB6;
}


main {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}


aside .menu-title {
    font-size: 24px;
    font-family: "Manrope SemiBold";
    margin: 0;
}

aside {
    width: 195px;
}

aside .menu-items {
    margin: 32px 0;
    padding: 0;
    list-style: none;
}

aside .menu-item a {
    text-decoration: none;
    color: #000;
    font-family: "Manrope SemiBold";
}

aside .menu-item {
    margin-bottom: 16px;
}


/* общие стили */

section {
    width: 970px;
    margin-bottom: 240px;

}

section h2 {
    margin: 0 0 70px 0;
}

section p {
    font-size: 24px;
    margin: 0 0 20px 0;
    line-height: 33px;
}


section h2 span {
    position: relative;
}

.title-vector {
    position: absolute;
    bottom: 5px;
    right: -40px;
    z-index: -1;
}


/* about start */

.about-start p:first-child {
    margin: 0 0 24px 0;
}


.about-start > img {
    margin-bottom: 48px;
}


.about-start ul {
    padding-left: 32px;
    list-style: url("../images/icons/list-icon.svg");
}


.about-start>p:last-child {
    background-color: #BEF5F3;
    border-radius: 20px;
    margin: 70px 0;
    padding: 32px;
    font-family: "Manrope";
}


/* about project */


.about-project p,
.about-platform p {
    margin-bottom: 48px;
}

iframe{
    width:970px;
    height: 490px;
}

@media(max-width: 1439px) {
    main {
        flex-direction: column;
        width: 1010px;
        padding: 0 20px;
    }

    aside {
        margin-bottom: 84px;
    }
}


@media(max-width: 1023px) {
    /* общие стили */

    main {
        width: 768px;
    }

    section {
        width: 728px;
        margin-bottom: 176px;
    }


    section h2 {
        font-size: 48px;
    }

    section p {
        font-size: 20px;
        line-height: 27px;
    }

    .title-vector {
        bottom: 0px;
    }

    .section-image{
        width: 728px;
    }

    iframe{
        width: 729px;
        height: 364px;
    }
}



@media(max-width: 767px) {
    /* общие стили */

    main {
        width: 375px;
    }

    section {
        width: 335px;
        margin-bottom: 120px;
    }


    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 14px;
        line-height: 27px;
    }

    .title-vector {
        width: 172.98px;
        bottom: 0px;
        right: -20px;
    }

    .section-image{
        width: 335px;
    }

    iframe{
        width: 335px;
        height: 166px;
    }


    .about-start ul {
        list-style: url("../images/icons/list-min-icon.svg");
    }
}