main{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.article-section{
    width: 970px;
}


.Breadcrumbs{
    display: flex;
    align-items: center;
}

.articles-hashtag{
    font-family: "Manrope Medium", "Arial", sans-serif;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #14BEB6;
    margin: 0 24px 0 0;
}

.articles-date{
    font-family: "Manrope Medium", "Arial", sans-serif;
    font-size: 20px;
    letter-spacing: -0.02em;
    margin: 0;
    color: #81859C;
}


.article-title{
    margin: 45px 0 24px 0;
    padding-right: 40px;
}

.article-title span{
    position: relative;
}

.article-title img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.article-img{
    width: 970px;
    height: 553px;
    object-fit: cover;
    border-radius: 40px;
}

.article-anons{
    background-color: #BEF5F3;
    border-radius: 20px;
    margin: 70px 0;
    padding: 32px;
    font-size: 20px;
}


.article-text{
    font-size: 20px;
}

.article-text p{
    margin: 0;
    margin-bottom: 32px;
}


.article-text h2,
.article-text h1{
    font-size: 40px;
}


.article-text h3{
    font-size: 30px;
}

.article-text h4{
    font-size: 25px;
}

.article-text ul,
.other ul{
    margin: 16px 0 31px 0;
    padding-left: 60px;
    list-style: url("../images/icons/list-icon.svg");
}

.article a{
    text-decoration: none;
    color: #007DFF;
    font-family: "Manrope", "Arial", sans-serif;
}


.other{
    padding: 40px 53px;
    background-color: #BEF5F3;
    border-radius: 20px;
    margin: 120px 0 60px 0;
}

.other h3{
    font-size: 20px;
    font-family: "Manrope SemiBold", "Arial", sans-serif;
    margin: 0;
}

.other ul{
    margin: 24px 0 0 0;
    padding-left: 20px;
}

.other li{
    margin: 16px 0;
}



/* aside */

aside .articles-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

aside .articles-item{
    width: 250px;
    height: 338px;
    border-radius: 15px;
    background: #F7F7F5;
    padding: 20px 0;
    margin-bottom: 24px;
}

aside .articles-title{
    margin: 0;
}

aside .articles-title a{
    font-family: "Manrope SemiBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
    display: inline-block;
    margin: 10px 7px;
    text-decoration: none;
    color: #000;
}


aside .articles-item img{
    width: 250px;
    height: 138px;
    object-fit: cover;
    display: block
}

aside .articles-item p{
    margin: 0 7px;
    font-size: 12px;
    line-height: 16px;
    color: #81859C;
}




@media(max-width: 1439px){
    aside{
        display: none;
    }

    main{
        justify-content: center;
    }
}


@media(max-width: 1023px) {
    main {
        margin-top: 24px;
        padding: 0 20px;
    }


    .article-section {
        width: 768px;
    }

    .articles-hashtag,
    .articles-date {
        font-size: 14px;
    }

    .article-title {
        margin: 24px 0 55px 0;
        font-size: 36px;
    }

    .article-title img{
        width: 213px;
    }

    .article-img {
        width: 729px;
        height: 415px;
    }

    .article-anons {
        font-size: 18px;
        margin: 48px 0;
    }

    .article-text {
        font-size: 18px;
    }

    .article-text h2,
    .article-text h1 {
        font-size: 36px;
    }

    .article-text h3 {
        font-size: 26px;
    }

    .article-text h4 {
        font-size: 21px;
    }
}


@media(max-width: 767px) {
    main {
        margin-top: 14px
    }

    .article-section {
        width: 375px;
    }

    .articles-hashtag,
    .articles-date {
        font-size: 11px;
    }

    .article-title {
        margin: 32px 0 35px 0;
        font-size: 24px;
    }

    .article-title img{
        width: 142px;
    }

    .article-img {
        width: 335px;
        height: 158px;
        border-radius: 15px;
    }

    .article-anons {
        font-size: 14px;
        margin: 32px 0;
        padding: 20px 13px;
        border-radius: 10px;
    }


    .article-text {
        font-size: 14px;
    }


    .article-text h2,
    .article-text h1 {
        font-size: 20px;
    }

    .article-text h3 {
        font-size: 18px;
    }

    .article-text h4 {
        font-size: 16px;
    }

    .other {
        padding: 30px 20px;
        font-size: 13px;
        border-radius: 10px;
    }

    .article-text ul,
    .other ul{
        list-style: url("../images/icons/list-min-icon.svg");
    }
}