@media(max-width: 1023px) {
    main {
        width: 768px;
        margin-top: 24px;
        padding: 0 20px;
    }


    .article-section {
        width: 768px;
    }

    .articles-hashtag,
    .rticles-data {
        font-size: 14px;
    }

    .article-title {
        margin: 24px 0 55px 0;
        font-size: 36px;
    }

    .article-img {
        width: 729px;
        height: 415px;
    }

    .article-anons {
        font-size: 18px;
        margin: 48px 0;
    }

    .article-text {
        font-size: 18px;
    }

    .article-text h2,
    .article-text h1 {
        font-size: 36px;
    }

    .article-text h3 {
        font-size: 26px;
    }

    .article-text h4 {
        font-size: 21px;
    }
}


@media(max-width: 767px) {
    main {
        width: 375px;
        margin-top: 14px
    }

    .article-section {
        width: 375px;
    }

    .articles-hashtag,
    .rticles-data {
        font-size: 11px;
    }

    .article-title {
        margin: 32px 0 35px 0;
        font-size: 24px;
    }

    .article-img {
        width: 335px;
        height: 158px;
        border-radius: 15px;
    }

    .article-anons {
        font-size: 14px;
        margin: 32px 0;
        padding: 20px 13px;
        border-radius: 10px;
    }


    .article-text {
        font-size: 14px;
    }


    .article-text h2,
    .article-text h1 {
        font-size: 20px;
    }

    .article-text h3 {
        font-size: 18px;
    }

    .article-text h4 {
        font-size: 16px;
    }

    .other {
        padding: 30px 20px;
        font-size: 13px;
        border-radius: 10px;
    }

    .other ul{
        list-style: url("./svg/list-min-icon.svg");
    }
}